$total-images: 11;
$image-width: 200;
$left: 100;
:root {
  --left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.whole-wrapper {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slideshow-selector-container {
  position: relative;
  height: 200px;
  width: $total-images * $image-width + 0px;
  transition: all 2s;
  left: var(--left);
}
.slideshow-image {
  float: left;
  width: 200px;
  height: 200px;
  cursor: pointer;
  &:nth-of-type(1) {
    background-color: red;
  }
  &:nth-of-type(2) {
    background-color: blue;
  }
  &:nth-of-type(3) {
    background-color: green;
  }
  &:nth-of-type(4) {
    background-color: orange;
  }
  &:nth-of-type(5) {
    background-color: black;
  }
  &:nth-of-type(6) {
    background-color: pink;
  }
  &:nth-of-type(7) {
    background-color: gold;
  }
  &:nth-of-type(8) {
    background-color: indianred;
  }
  &:nth-of-type(9) {
    background-color: aqua;
  }
  &:nth-of-type(10) {
    background-color: brown;
  }
  &:nth-of-type(11) {
    background-color: violet;
  }
}

.selected {
  background-color: black !important;
}
